@model SocialFashion.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Share/Layout.cshtml";
}

<div id="t3-content" class="t3-content col-xs-12 col-sm-8  col-md-9">
    <div id="system-message-container">
    </div>

    <div class="t3-content-block">
        <div class="reset ">
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
                <p>Please enter the email address for your account. A verification code will be sent to you. Once you have received the verification code, you will be able to choose a new password for your account.</p>

                <fieldset>
                    <div class="form-group">
                        <div class="col-sm-3 control-label">
                            <label id="jform_email-lbl" for="jform_email" class="hasPopover required" title="" data-content="Please enter the email address associated with your User account.<br />A verification code will be sent to you. Once you have received the verification code, you will be able to choose a new password for your account." data-original-title="Email Address">
                                @Html.LabelFor(m => m.Email)<span class="star">&nbsp;*</span>
                            </label>
                        </div>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Email, new { @class = "validate-username required" })
                           
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 control-label">
                        </div>
                        <div class="col-sm-9">
                        </div>
                    </div>
                </fieldset>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-primary validate">Submit</button>
                        
                    </div>
                </div>
}
        </div>

    </div>
</div>