@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Share/Layout.cshtml";
}

<div id="t3-content" class="t3-content col-xs-12 col-sm-8  col-md-9">
    <div id="system-message-container">
        <div id="system-message">
            <div class="alert alert-message">
                <a class="close" data-dismiss="alert">×</a>

                <h4 class="alert-heading">Đặt lại mật khẩu</h4>
                <div>
                    <p>Chúng tôi đã gửi 1 mail vào mail bạn đã đăng ký. Vui lòng kiểm tra</p>
                </div>
            </div>
        </div>
    </div>

   
</div>
	
