
@{
    ViewBag.Title = "RegisterSuccess";
    Layout = "~/Views/Share/Layout.cshtml";
}

<div id="t3-content" class="t3-content col-xs-12 col-sm-8  col-md-9">
    <div id="system-message-container">
        <div id="system-message">
            <div class="alert alert-message">
                <a class="close" data-dismiss="alert">×</a>

                <h4 class="alert-heading">Đăng ký tài khoản</h4>
                <div>
                    <p>Chúng tôi đã gửi 1 email vào email mà bạn đã đăng ký. Hãy vào xác thực tài khoản để hoàn thành quá trình đăng ký</p>
                </div>
            </div>
        </div>
    </div>


</div>
